body {
    
    background-color: #796844;
/*    background-color: #493E29;   */
/*    background-color: #7A5D20;   */
    background-color: #90804A;

}

#title {
    color: #00000;
}

.problem-solution {
    width: 900PX;
    margin: 30px auto;
/*    border: 1px solid black;*/
}

/* Begin: styling for problem description section */
.problem-section {
    background-color: #9BCE7D;
/*    background-color: #699E87;*/

    border: 1px solid #9BCE7D;
    margin: 0px 0px;
    font-family: 'Special Elite', cursive;
}

.title {
    color: #796844;
    margin: 25px 25px;
}

p.problem {  
/*    color: #FFFFFF;*/
/*    color: #F8DA98;*/
    color: #7A5D20;
    margin: 20px 35px;
}

/* End: styling for problem description section */

/* Begin: styling for problem answer section */


.answer-section {
    background-color: #72AC93;
    border: 1px solid #72AC93;
    margin: 0px 0px;
/*    display: inline-block;*/
    display: inline-flex;
    padding-top: 10px;
    
}

.answer-content {
/*    font-family: 'Anonymous Pro';*/
    font-family: 'Cutive Mono';
    padding: 10px;
    color: #FFFFFF;

}

.answer-content p {
    margin-left: 15px;
}

.content p {
    font-weight: bold;
}

#answer {
    width: 150px;
/*    background-color: orange;*/

}

#code {
    width: 708px;
/*    background-color: yellow;*/
    
}

.answer-content blockquote {
    background-color: #699E87;
    padding: 10px;
/*    font-family: monofur;*/
/*    font-family: 'Anonymous Pro', ;*/
/*    font-family: 'Cutive Mono', ;*/

}

code {
/*    font-family: 'Anonymous Pro', ;*/
/*    font-family: 'Cutive Mono', ;*/
/*    font-family: 'Indie Flower', cursive;*/
/*    font-family: arial;*/
/*    color: #FFFFFF;*/
}

.hide {
    display: none;
}

/* End: styling for problem answer section */



.button {
    display: inline-block;
    width: 120px;
    height: 30px;
    background-color: #BD0102;
    border: 4px solid #98002F;
/*    margin: 10px 80px;*/
    font-weight: bold;
    font-family: 'Coda', cursive;
    cursor: pointer;
    
}

.button:hover {
    border: 4px solid #F8DA98;
/*    border-color: #796844;*/
}

.button p {
    color: #FFFFFF;
    text-align: center;
    margin: 4px;
}

.blue {
    color: blue;
    background-color: blue;
}




